<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Private Key Generator</title>
    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>
@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/app")
@RenderSection("scripts", required: false)
</html>
